.App {
  text-align: center;
  background: #fefcf7;
  min-height: 100vh;
}
.frea {
  font-family: "Fraunces", serif;
}

.barlow {
  font-family: "Barlow", sans-serif;
}

.fraunces {
  font-family: "Fraunces", serif;
}
