.footer {
  background: #2c343e;
  height: 120px;
  width: 1480px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 88px;
  margin-top: 200px;
  align-items: center;
}

.footer-svg {
  margin-left: 89.5px;
}

.footer-links {
  margin-left: 103px;
}

.footer-links a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888f;
  margin-left: 50px;
  text-decoration: none;
}

.footer-links a.selected {
  color: #fefcf7;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 469.1px;
}

.social-icons svg {
  color: #fefcf7;
}

.social-icons svg:hover {
  color: #fdd6ba;
}

@media screen and (max-width: 1790px) {
  .footer {
    width: 1280px;
  }

  .footer-links {
    margin-left: 53px;
  }

  .social-icons {
    gap: 24px;
    margin-left: 330px;
  }
}

@media screen and (max-width: 1290px) {
  .footer {
    width: 1150px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 88px;
  }

  .footer-svg {
    margin-left: 40px;
  }

  .footer-links {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1184px) {
  .footer {
    width: 900px;
    justify-content: space-between;
  }

  .footer-links {
    margin-left: 40px;
  }

  .social-icons {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 999px) {
  .footer {
    height: 270px;
    width: calc(100vw - 80px);
    border-radius: 0px;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 144px;
    margin-bottom: 72px;
  }

  .footer-svg {
    margin-top: 54.44px;
    margin-left: unset;
    margin-right: unset;
  }

  .footer-links a {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    letter-spacing: 0.923077px;
    margin-left: unset;
    margin-right: unset;
  }

  .footer-links {
    width: 283px;
    margin-left: unset;
    margin-right: unset;
    display: flex;
    justify-content: space-between;
    margin-top: 33.44px;
  }

  .social-icons {
    margin-left: unset;
    margin-right: unset;
    margin-top: 65px;
    margin-bottom: 54px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    height: 346px;
    width: calc(100vw - 60px);
    margin-top: 120px;
  }

  .footer-svg svg {
    height: 22.153846740722656px;
  }

  .footer-links {
    flex-direction: column;
    gap: 24px;
  }
}
