.section-one {
  background-image: url("../Images/sec-one-image.png");
  width: 1280px;
  height: 600px;
  border-radius: 10px;
  text-align: left;
  margin: 0 auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
}

.section-one h1 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 72px;
  /* or 100% */
  color: #fefcf7;
  margin-left: 70px;
  margin-top: 120px;
  width: 493px;
  margin-bottom: 30px;
}

.section-one p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-left: 70px;
  margin-bottom: 50px;
  width: 420px;
}

.section-one button {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  color: #fefcf7;
  background: #0e8784;
  height: 56px;
  width: 217px;
  border-radius: 6px;
  margin-left: 70px;
  border: none;
}

.section-one button:hover {
  background: #66d2cf;
  border-radius: 6px;
  cursor: pointer;
  color: #fefcf7;
}

.our-c h1 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  /* identical to box height, or 48% */
  text-align: center;
  /* color: #83888f;
  background-image: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
  mix-blend-mode: normal;
  opacity: 0.5; 
  z-index: -1; */
  z-index: -1;
  background-image: linear-gradient(
    rgba(150, 150, 150, 0.6),
    rgba(150, 150, 150, 0.01)
  );
  background-clip: text;
  color: transparent;
}

/* .section-two{
  margin: 0 auto;
} */

.our-c {
  width: 1280px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.kopis {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 250px;
  margin-bottom: 80px;
}

.kopis p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: center;

  color: #333d4b;
}

.kopis h3 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;

  color: #333d4b;
}

.kopis img {
  margin-bottom: 20px;
}

.kopi-one {
  width: 256px;
}

.kopi-two {
  width: 256px;
}

.kopi-three {
  width: 256px;
}

.kopi-four {
  width: 256px;
}

.why-box {
  background: #2c343e;
  border-radius: 10px;
  height: 577px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.why-box h2 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  padding-top: 60px;
  text-align: center;

  color: #fefcf7;
}

.why-box p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: center;
  margin-top: 0px;
  color: #fefcf7;
  width: 540px;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.reason {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 360px;
  margin-right: 360px;
  margin-top: -228px;
}

.reason h3 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;
  margin-top: 56px;
  color: #fefcf7;
}

.reason p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  margin-top: 24px;
  text-align: center;
  width: 255px;
  color: #fefcf7;
  margin: 0 auto;
}

.reason img {
  width: 71px;
  height: 72px;
  margin-top: 72px;
}

.coffee-bean {
  background: #0e8784;
  border-radius: 8px;
  height: 382px;
  width: 350px;
}

.gift {
  background: #0e8784;
  border-radius: 8px;
  height: 382px;
  width: 350px;
}

.delivery {
  background: #0e8784;
  border-radius: 8px;
  height: 382px;
  width: 350px;
}

.section-four {
  margin-top: 320px;
}

.howol {
  margin-left: 310px;
}

.howol h3 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: left;
  color: #83888f;
}

.line-o {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.oval {
  background: #fefcf7;
  border: 2px solid #0e8784;
  height: 31px;
  width: 31px;
  box-sizing: border-box;
  border-radius: 50%;
}

.path {
  border: 1px solid #fdd6ba;
  height: 0.1px;
  width: 350px;
  margin-top: 31px;
}

.how-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 200px;
  margin-right: 290px;
}

.how-box h1 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */
  text-align: left;
  color: #fdd6ba;
}

.how-box h3 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */
  text-align: left;
  color: #333d4b;
  width: 210px;
}

.how-box p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: left;
  color: #333d4b;
}

.how-box-one {
  width: 285px;
  border-radius: 0px;
}

.how-box-two {
  width: 285px;
  border-radius: 0px;
}

.how-box-three {
  width: 285px;
  border-radius: 0px;
}

.cyp {
  text-align: left;
  margin-left: 234px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.cyp button {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  color: #fefcf7;
  background: #0e8784;
  height: 56px;
  width: 217px;
  border-radius: 6px;
  margin-left: 70px;
  border: none;
}

.cyp button:hover {
  background: #66d2cf;
  border-radius: 6px;
  cursor: pointer;
  color: #fefcf7;
}

/* media screen 1440 */

@media screen and (max-width: 1790px) {
  .reason {
    margin-left: 160px;
    margin-right: 160px;
  }

  .howol {
    margin-left: 100px;
  }

  .how-box {
    margin-left: 100px;
    margin-right: 150px;
    justify-content: space-between;
  }

  .cyp {
    margin-left: 32px;
  }
}

@media screen and (max-width: 1399px) {
  .section-one {
    width: 1000px;
  }

  .why-box {
    width: 1000px;
  }
  .coffee-bean {
    width: 320px;
  }

  .gift {
    width: 320px;
  }

  .delivery {
    width: 320px;
  }
}

@media screen and (max-width: 1199px) {
  .section-one {
    width: 1000px;
  }

  .our-c {
    width: 1000px;
  }

  .coffee-bean {
    width: 280px;
  }

  .gift {
    width: 280px;
  }

  .delivery {
    width: 280px;
  }
}

@media screen and (max-width: 1084px) {
  .section-one {
    width: 900px;
  }

  .our-c {
    width: 1024px;
  }

  .kopi-one {
    width: 220px;
  }

  .kopi-two {
    width: 220px;
  }

  .kopi-three {
    width: 220px;
  }

  .kopi-four {
    width: 220px;
  }

  .kopis {
    margin-left: 50px;
    margin-right: 50px;
  }

  .why-box {
    width: 900px;
  }

  .coffee-bean {
    width: 260px;
  }

  .gift {
    width: 260px;
  }

  .delivery {
    width: 260px;
  }

  .reason {
    margin-left: 100px;
    margin-right: 100px;
  }

  .howol {
    margin-left: 40px;
  }

  .how-box {
    margin-left: 40px;
    margin-right: 90px;
    justify-content: space-between;
    gap: 80px;
  }

  .path {
    width: 255px;
  }

  .cyp button {
    margin-left: 10px;
  }
}

@media screen and (max-width: 999px) {
  .home {
    margin-left: 39px;
    margin-right: 39px;
  }
  .section-one {
    background-image: url("../Images/sec-one-image-tablet.png");
    width: 689px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-one h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    width: 329px;
    margin-left: 58px;
    margin-top: 104px;
    margin-bottom: 24px;
  }

  .section-one p {
    font-size: 15px;
    line-height: 25px;
    width: 398px;
    margin-left: 58px;
    margin-bottom: 40px;
  }

  .section-one button {
    font-size: 18px;
    line-height: 25px;
    margin-left: 58px;
  }

  .our-c {
    width: 689px;
  }

  .our-c h1 {
    font-weight: 900;
    font-size: 96px;
    line-height: 72px;
  }

  .kopis {
    flex-direction: column;
    margin-top: 190px;
  }

  .kopi-one {
    width: 573px;
    display: flex;
  }

  .kopi-two {
    width: 573px;
    display: flex;
  }

  .kopi-three {
    width: 573px;
    display: flex;
  }

  .kopi-four {
    width: 573px;
    display: flex;
  }

  .kopis h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    text-align: left;
    color: #333d4b;
    margin-left: 36px;
  }

  .kopis p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    text-align: left;
    color: #333d4b;
    width: 282px;
    margin-left: 36px;
  }

  .why-box {
    width: calc(100vw - 65px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 573px;
  }

  .why-box h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    padding-top: 56px;
  }

  .why-box p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    width: 496px;
  }

  .reason {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: -290px;
    left: 50;
    right: 50;
    width: calc(100vw - 135px);
    margin-left: auto;
    margin-right: auto;
  }

  .reason img {
    height: 56px;
    width: 55px;
    border-radius: 0px;
    margin-left: 70.5px;
  }

  .reason h3 {
    margin-top: 41px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    margin-left: 55.5px;
  }

  .reason p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    width: 344px;
    text-align: left;
    margin-left: 55.5px;
  }

  .coffee-bean {
    height: 180px;
    width: calc(100vw - 135px);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
  }

  .gift {
    height: 180px;
    width: calc(100vw - 135px);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
  }

  .delivery {
    height: 180px;
    width: calc(100vw - 135px);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
  }

  .howol {
    margin-left: 0px;
    margin-top: 144px;
  }

  .howol h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }

  .path {
    width: 197px;
  }

  .how-box {
    margin-left: 0px;
    gap: 16px;
  }

  .how-box h1 {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
  }

  .how-box h3 {
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    width: 180px;
  }

  .how-box p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    width: 211px;
  }

  .cyp {
    margin-left: 0px;
    margin-top: 44px;
  }

  .cyp button {
    margin-left: 0px;
  }
}

@media screen and (max-width: 760px) {
  .section-one {
    width: calc(100vw - 78px);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 705px) {
  .our-c {
    width: calc(100vw - 78px);
  }
  .our-c h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 72px;
    background-image: linear-gradient(
      rgb(131, 125, 125),
      rgba(150, 150, 150, 0)
    );
  }

  .kopi-one {
    flex-direction: column;
    text-align: center;
    width: 282px;
    margin-left: auto;
    margin-right: auto;
  }

  .kopis img {
    height: 151px;
    width: 200px;
    border-radius: 0px;
    margin: 0 auto;
  }

  .kopi-two {
    flex-direction: column;
    text-align: center;
    width: 282px;
    margin-left: auto;
    margin-right: auto;
  }

  .kopi-three {
    flex-direction: column;
    text-align: center;
    width: 282px;
    margin-left: auto;
    margin-right: auto;
  }

  .kopi-four {
    flex-direction: column;
    text-align: center;
    width: 282px;
    margin-left: auto;
    margin-right: auto;
  }

  .kopis h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-left: unset;
  }

  .kopis p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    width: 282px;
    margin-left: unset;
  }

  .why-box {
    height: 902px;
  }

  .why-box h2 {
    font-size: 28px;
    line-height: 28px;
  }

  .why-box p {
    font-size: 15px;
    line-height: 25px;
    width: calc(100vw - 120px);
  }

  .reason {
    margin-top: -590px;
  }

  .reason img {
    margin-left: unset;
    margin: 0 auto;
    margin-top: 72px;
    height: 72px;
    width: 72px;
  }

  .reason h3 {
    margin-left: unset;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 56px;
  }

  .reason p {
    font-size: 15px;
    line-height: 25px;
    width: calc(100vw - 180px);
    text-align: center;
    margin-left: unset;
    margin: 0 auto;
  }

  .coffee-bean {
    flex-direction: column;
    height: 382px;
  }

  .gift {
    flex-direction: column;
    height: 382px;
  }

  .delivery {
    flex-direction: column;
    height: 382px;
  }

  .howol {
    margin-top: 450px;
  }

  .howol h3 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .line-o {
    display: none;
  }

  .how-box {
    flex-direction: column;
    margin-left: unset;
    margin: 0 auto;
    text-align: center;
  }

  .how-box h1 {
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 24px;
  }

  .how-box h3 {
    font-size: 28px;
    line-height: 32px;
    width: 327px;
    text-align: center;
    margin: 0 auto;
  }

  .how-box p {
    font-size: 15px;
    line-height: 25px;
    width: calc( 100vw - 57.5px);
    text-align: center;
    margin: 0 auto;
    margin-top: 24px;
  }

  .how-box-one{
    width: 100%;
  }

  .how-box-two{
    width: 100%;
  }

  .how-box-three{
    width: 100%;
  }

  .cyp {
    text-align: center;
  }
}

@media screen and (max-width: 530px) {
  .home {
    margin-left: 0px;
    margin-right: 0px;
  }
  .section-one {
    background-image: url("../Images/sec-one-image-mobile.png");
    height: 500px;
    /* width: 327px; */
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .section-one h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    width: 279px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    color: #fefcf7;
    margin-bottom: 24px;
  }

  .section-one p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    width: 279px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 39px;
  }

  .section-one button {
    font-size: 18px;
    line-height: 25px;
    margin-left: unset;
    margin-right: unset;
    margin: 0 auto;
  }

  .why-box p {
    font-size: 15px;
    line-height: 25px;
    width: calc(100vw - 90px);
  }
}
